.go_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: static;
    width: 167px;
    height: 43px;
    left: 0px;
    top: 0px;

    background: #81B5A9;
    border-radius: 16.4167px;
    border-width: 0px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.button_wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    position: static;
    width: 167px;
    height: 43px;
    top: 429px;
}

.button_text {
    position: static;
    width: 30px;
    height: 28px;
    left: 68.5px;
    top: 6.13px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: rgba(255, 255, 255, 0.97);


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 27.3611px;
}

.route_option {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    margin: 10px;
    height: 100px;
    width: calc(100% - 30px);

    background: rgba(255, 255, 255, 0.77);
    /* Box Shadows/Small */

    box-shadow: 0px 11px 20px rgba(5, 16, 55, 0.1);
    border-radius: 6px;
}

.method_icon {
    height: 30%;
}