body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;

  background: burlywood;
}

header {
  position: absolute;
  width: 100%;
  height: 67px;
  left: 0px;
  top: 0px;
  z-index: -1;

  display: inline-block;

  background: #2D2D2D;
}

.header_text {
  position: absolute;
  width: 146px;
  height: 39px;
  left: 68px;
  top: 14px;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 130.7%;
  /* or 39px */


  color: #FFFFFF;
}